h3
{
    font-size: 2vw;
    color: black;
}
p
{
    font-size: 1vw;
    line-height: 1.5;
    margin-left: 3%;
    margin-right: 2%;
}
.container-fluid
{
    margin-left: 30%;
    text-align: justify;
    background-color: rgb(100, 100, 100);
    color: white;
    margin-right: 5%;
    padding:2%;
}
#forras
{
    text-decoration: none;
    margin-left: 30%;
}