h1
{
    margin-left: 35%;
    font-size: 4vw;
}
table
{
    margin-left: 35%;
}
.golyo
{
    font-size: 3vw;
    text-align: center;
    width: 11vw;
    height: 11vw;
    background-image: url("../pictures/golyo_sarga.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}
.poz
{
    font-size: 5vw;
}
.db
{
    font-size: 3vw;
}
