h1
{
    margin-left: 35%;
    font-size: 4vw;
}
table
{
    margin-left: 35%;
}
.cim
{
    font-size: 1.5vw;
    font-weight: bold;
}
th
{
    text-align: left;
}
.szam
{
font-weight: bold;
font-size: 1vw;
}
#golyo1, #golyo6, #golyo11
{
    text-align: center;
    width: 8vw;
    height: 8vw;
    background-image: url("../pictures/golyo_piros.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
#golyo2, #golyo7, #golyo12
{
    text-align: center;
    width: 8vw;
    height: 8vw;
    background-image: url("../pictures/golyo_sarga.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
#golyo3, #golyo8, #golyo13
{
    text-align: center;
    width: 8vw;
    height: 8vw;
    background-image: url("../pictures/golyo_zold.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
#golyo4, #golyo9, #golyo14
{
    text-align: center;
    width: 8vw;
    height: 8vw;
    background-image: url("../pictures/golyo_kek.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
#golyo5, #golyo10, #golyo15
{
    text-align: center;
    width: 8vw;
    height: 8vw;
    background-image: url("../pictures/golyo_lila.png");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}