body
{
    font-family: Arial;
}
#hatter
{
    width: 100%;
}
ul 
{
    list-style: none;
    margin:-3% 0% 0% -1%;
    padding-bottom: 100%;
    padding-left: 0.5%;
    width: 29vw;
    background-color:#555;
    float:left;
    height: 40%;   
}
li a 
{
    display: block;
    color:rgb(211, 208, 208);
    padding-bottom: 3%;
    padding-top: 3%;
    padding-left: 3%;
    margin-right: 2%;
    margin-left: 2%;
    text-decoration: none;
    font-size: 1vw;
}
li a:hover 
{
    background-color:rgba(124, 124, 124, 0.863);
    color: white;
}
.underline
{
    border-top: 1px solid #333333;
    border-bottom: 1px solid rgba(124, 124, 124, 0.863);
    border-left: none;
    border-right: none;
    border-style: inset;
    border-radius: 1px 1px 1px 1px;
    border-color: rgb(125,125,125);
    width: 90%;
}