h1
{
    margin-left: 35%;
    font-size: 4vw;
}
.cim
{
    font-size: 2vw;
    font-weight: bold;
}
.szam
{
    font-weight: bold;
    font-size: 1.5vw;
}
table
{
    margin-left: 35%;
}
th
{
    text-align: left;
    margin: auto;
}
#golyo1, #golyo6
{
    text-align: center;
    width: 11vw;
    height: 11vw;
    background-image: url("golyo_piros.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}
#golyo2, #golyo7
{
    text-align: center;
    width: 11vw;
    height: 11vw;
    background-image: url("golyo_sarga.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}
#golyo3, #golyo8
{
    text-align: center;
    width: 11vw;
    height: 11vw;
    background-image: url("golyo_zold.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}
#golyo4, #golyo9
{
    text-align: center;
    width: 11vw;
    height: 11vw;
    background-image: url("golyo_kek.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}
#golyo5, #golyo10
{
    text-align: center;
    width: 11vw;
    height: 11vw;
    background-image: url("golyo_lila.png");
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}